// Footer

.footer {
  background: $black;
  color: $sunflower-yellow;
  min-height: 65px;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(sm) {
    padding: 10px;
  }

  &__row {
    justify-content: space-between;
  }

  &__social__media {
    ul {
      list-style-type: none;
      align-items: center;
      @extend .footer;

      @include media-breakpoint-down(sm) {
        justify-content: center;
      }

      li {
        display: inline-flex;

        &:not(:last-child) {
          margin-right: 10px;
        }

        &:first-of-type {
          font-size: 18px;
          font-weight: $font-weight-bold;
          margin-right: 18px;
        }
      }
    }
  }
  &__menu {
    @extend .footer;

    > #main-nav {
      width: 100%;
    }

    .menu-item {
      a {
        color: $white;
        font-weight: $font-weight-semibold;
        font-size: 18px;
      }
    }

    li {
      @include media-breakpoint-down(sm) {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    #main-nav {
      margin-top: 0;
    }

    .nav {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      @include media-breakpoint-down(sm) {
        margin-top: 20px;
        flex-direction: column;
        text-align: center;
      }

      li {
        &:nth-child(4) {
          width: 100%;
          max-width: 158px;
          cursor: pointer;
          a {
            @extend .btn-primary;
            height: 36px !important;
            padding: 0 !important;
            color: $black;
            font-weight: $font-weight-bold;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
