//Global theme helpers & support

/*Dropdown Css*/

.dropdown-menu {
  background: $sunflower-yellow;
  border: 0;
  padding: 10px 40px;
  text-align: center;

  .dropdown-item {
    padding: 5px 0;

    &:hover {
      background: none;
    }
  }
}

@include media-breakpoint-up(md) {
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: ' ';
  float: right;
  width: 0;
  height: 0;
  border: none;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}
