@font-face {
  font-family: 'Peperoncino Sans W05 Regular';
  src: url('../fonts/peperoncino/c27da9b0-8239-4ea0-9406-2db1388f0635.eot?#iefix');
  src: url('../fonts/peperoncino/c27da9b0-8239-4ea0-9406-2db1388f0635.eot?#iefix')
      format('eot'),
    url('../fonts/peperoncino/c29ec7d3-f9ad-4637-bf14-22cef088e243.woff2')
      format('woff2'),
    url('../fonts/peperoncino/c0eb277d-92ed-4b75-876f-b83f54d2e9cf.woff')
      format('woff'),
    url('../fonts/peperoncino/58432778-f03a-4b58-9b51-e0ea6249c1aa.ttf')
      format('truetype');
}
